.body{
    width: 760px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 35px;
    margin-top: 1rem;
    /* width: 100%; */

}
main h1{
    color: white;
    width: 300px;



}
main{
    margin-top: 2rem;
    width: 400px;
}
main .google{
   
    padding: 10px 16px;
    background-color: #1A73E8;
    outline: none;
    border-radius: 15px;
    border: none;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
main .google img{
    width: 45px;
    height: 35px;
    border-radius: 10px;
    background-color: white;
    /* padding: 10px; */
    padding: 5px 3px;
}
main .google .google-icon{
    width: 25px;
    height: 25px;
}
main .google p{
    background-color: inherit;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

main .input{
    
    border-radius: 15px;
    padding: 16px 10px;
    font-size: 18px;
    margin-bottom: 1em;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #1A202C;
 
}
main .input input{
    background-color: inherit;
    
    font-size: 18px;
    color: #777E90;
}
main input::placeholder{
    color: #777E90;
    font-size: 17px;
}
main .signBtn{
    outline: none;
    border: 2px solid #04273E;
    border-radius: 15px;
    width: 100%;
    padding: 10px 10px;
    font-size: 20px;
    margin-bottom: 1em;
    color: #04273E;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .signBtn:hover{
    opacity: .8;
}

aside{
    color:#777E90;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
}
aside span{
    color: #1A73E8;
    text-decoration: underline;
}
.aside-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 9px;
    gap: 20px;
    cursor: pointer;
}
small{
    font-size: 13px;
    font-weight: bold;
    color: #848480;

    text-align: center;
}

input, button {
    outline: none;
    border: none;
    /* padding: 10px 10px; */
    
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}
button{
    cursor: pointer;
}
@media screen and (max-width: 760px){
    .body{
        display: block;
        width: 100%;
        gap: unset;
        padding: 10px 24px ;

        

    }
    main{
        width: 100%;
        margin: 0 auto;
        
    }
    main .google p{
        font-size: 14px;
    }
    main input::placeholder{
        font-size: 14px;
    }
    main .signBtn{
        font-size: 16px;
        margin-bottom: 5rem;
    }
    main h1{
        width: 100%;
        margin-bottom: 1rem;
    }
}