.n-container{
    width: 100%;
    margin: 1rem 0 0 0;

}
.n-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.n-container span{
    color: #5B606E;
    font-size: 12px;
}

.n-container button{
    outline: none;
    border: 2px solid #04273E;
    border-radius: 15px;
    width: 100%;
    padding:10px 10px;
    font-size: 14px;
    margin-bottom: 1em;
    color: #04273E;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-div{
    display: flex;
    align-items: center;

    gap: 3px;

    padding: 0;
}
.img-div img{
    margin: 0;
    width: 6px;
}

.n-select{
    display: flex;
    align-items: center;
    gap: 4px;
    scroll-behavior: smooth;
    overflow-x: auto;

    
}
.n-select .n-select-container{
    display: flex;
    /* width: 100px; */
    align-items: center;
    margin: 1rem 0;
    /* height: 100%; */
    border: 1px solid #4448535e;
    border-radius: 10px;
    border-top-right-radius: 22px;
    flex-direction: column;
    padding: 16px 20px;
    background-color: #151515;
    opacity: .8;
    cursor: pointer;

}
.n-select-container:hover{
    transition:  ease-in-out .2s;
    transform: scale(1.07);
}

.n-select .n-select-container span{
    font-weight: bold;
    /* color: #B1B5C3; */
    margin-bottom: 1em;

}
.n-select .n-select-container img{
   width: 45px;
   height: 30px;

}

.box{
    width: 100px;
    height: 10px;
    background-color: white;
}
.phone-area{
    width: 100%;
    margin: 0 0 1.5rem 0;
}

.phone-area input{
    padding: 15px ;
    margin-top: 1rem;
    border-radius: 6px;
    background-color: #151515;
    color: #5B606E;
    font-size: 18px;
}
.phone-area input::placeholder{
    color: #5B606E;
    font-size: 18px;

}

.phone-area span{

    color: #5B606E;
    font-size: 14px;
}

.plan{
    align-items: center;
    gap: 10px;
    margin: 1rem 0;

}
.plan header{
    color: #5B606E;
    font-size: 12px;
    margin: 1rem 0;
}
.plan .gb{
    padding: 10px 16px;
    background: #151515;
    display: flex;
    flex-direction: column;
    
    border: 1px solid #4448535e;
    border-radius: 10px;
    border-top-right-radius: 22px;
    cursor: pointer;

    
}
.plan .dats{
    display: flex;
    gap: 10px;
}
.gb p{
    color: #CFD1D5;
    font-size: 10px;
    font-weight: bold;
    
}
.gb span{
    color: #CFD1D5;
    font-size: 16px;
    font-weight: bold;

}
b{
    background: inherit;
    color: #cfd1d59d;
    font-size: 16px;
    font-weight: bold;
}
.plan .see-all {
    background-color: #15171B;
    width: 100%;
    border: 1px solid #4448535e;
    border-radius: 10px;
    border-top-right-radius: 22px;
    color: #0163A4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;


}